
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Side bar */
#sidebar{
   box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
   position:fixed;
   text-align: right;
   font-size: 19pt;
   height:100%;
   width:250px; 
   top:0;
   left:0;
   background-color: #222729;
}

  #banner {
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
    color: #eaeaea;
    min-height: 48px;
    cursor: default;
  }

  #banner h1 {
    position: relative;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
  }


  #banner p {
    position: relative;
    display: block;
    font-size: .5em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.25em;
    margin: 0.3em 0 0 0;
  }


  #nav ul {
    list-style: none;
  }

  #nav ul li a {
    list-style: none;
    display: block;
    text-decoration: none; 
    font-size: 0.8em;
    color: #878787;
    outline: 0;
    border: 0;
    padding: 1em 2.0em 1em 1.25em;
  }

  #nav ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
  }

  #nav ul li a span {
    position: relative;
    display: block;
    font-size: 0.8em;
  }

/* Main content */
#main {
  margin-left: 250px;
  background-color: #e8e8e8;
}

#main header {
  text-align: center;
}
  #main header h2 {
    margin-bottom: 1em;
    font-size: 32pt;
  }

  #main > section {
    padding: 0em 2em;
    margin-bottom: 2.5em;
  }

  .jumbotron {
    position: relative;
    text-align: center;
    background: #000 url("https://static.pexels.com/photos/129922/pexels-photo-129922.jpeg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    height: 35em;
  }

  #top .container {
    padding: 10em;
    color: #e8e8e8;
  }

  #top .container p {
    margin: 0.5em;
  }

  #projects header p{
    margin-bottom: 2em;
    font-size: 16pt;
  }

  .caption h3 {
    font-weight: bold;
    margin-bottom: 1em;
  }

  #aboutme header img {
    height: 20em;
    width: 100%;
    margin-bottom: 1em;
  }

  #aboutme p {
    font-size: 16pt;
    text-align: center;
  }